# timestamped resources
# =====

ExpiresActive on
ExpiresByType text/css               "access plus 1 year"
ExpiresByType application/javascript "access plus 1 year"

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)\.([\d]{10})\.(css|js)$ $1.$3 [L]


# start redirection
# =====

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
	
	
	# block spammers w/o user agent
	# i.e. java prototypes: http://serverfault.com/questions/308210/the-java-1-4-1-04-user-agent-clashes-404-with-some-jquery-javascript
	# -----
	RewriteCond %{HTTP_USER_AGENT} ^$ [OR]
	RewriteCond %{HTTP_USER_AGENT} Java.*
	RewriteRule ^.* - [F]
	
	
	# nicer uris
	# "/$1" fills the PATH_INFO
	# -----
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.*)$ index.php/$1 [L]
	
</IfModule>
