# start redirection
# =====

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /
	
	
	# nicer uris
	# "/$1" fills the PATH_INFO
	# -----
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.*)$ index.php/$1 [L]
	
</IfModule>
