		</section>
	</section>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-2.2.3.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="/frontend/plugins/jquery-2.2.3/jquery-2.2.3.min.js"><\/script>')</script>

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>$.fn.modal || document.write('<script type="text/javascript" src="/frontend/plugins/bootstrap-3.3.6/js/bootstrap.min.js"><\/script>')</script>

{{# resources_timestamp_js}}generic{{/ resources_timestamp_js}}

</body>
</html>
