<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="dns-prefetch" href="//ajax.googleapis.com">
	<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
	
	<title>{{_.title}}</title>
	
	{{# resources_timestamp_css}}/frontend/plugins/bootstrap-3.3.6/css/bootstrap.min{{/ resources_timestamp_css}}
	{{# resources_timestamp_css}}/frontend/plugins/bootstrap-3.3.6/css/bootstrap-theme.min{{/ resources_timestamp_css}}
	{{# resources_timestamp_css}}/frontend/plugins/font-awesome-4.6.1/css/font-awesome.min{{/ resources_timestamp_css}}
	{{# resources_timestamp_css}}generic{{/ resources_timestamp_css}}
</head>
<body>

<div class="container">
	<section class="row">
		<section id="content" class="col-sm-12">
			<h1>{{_.title}}</h1>
